.popup_is-opened {
  display: flex;
  flex-direction: column;
  visibility: visible;
  opacity: 1;
  pointer-events: all;
  transition: visibility 0s, opacity 0.6s;
}

.popup__error {
  color: red;
  font-size: 12px;
}

.popup__error_visible {
  border-bottom: 2px solid red;
}
